.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 1rem;
}

section {
  padding-top: 1rem;
}

.header a {
  margin-left: 1rem;
}

.icon svg {
  max-width: 1rem;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.container {
  padding: 1rem;
  margin: 1rem;
  border-left: 1px solid #7daace;
  width: 90%;
}

.header {
  padding: 1rem 0;
  min-height: 2rem;
  border-bottom: 1px solid #7daace;
}

body {
    margin-left: 4rem;
    margin-right: 4rem;
    width: 70%;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    background: #f9f8fd;  
}
a {
    text-decoration: none;
    color: #6384a0;
}
h1 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.site-nav {
  width: 15rem;
  text-align: right;
}

.site-nav a {
  margin-left:4px
}

.site-nav a svg {
  transition:transform 0.1s
}

.profile-picture {
  max-width: 10rem;
  float: left;    
  margin: 0 1rem 0 0;
}